html {
	font-family: Verdana;
	height: 100%;
}

body, html {
	background: #000000;
	color: white;
	height: 100%;
	font-size: large;
}

a {
	color: cyan;
}

a:visited {
	color: red;
}

a:active {
	color: lightgrey;
}

.indentPar
{
    text-indent: 50px;
}

.centerText{
	text-align: center;
}

.title {
	font-size: 400%;
}

.subtitle{
	font-size: xx-large;
}

.header {
	font-size: xx-large;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}

.footer p{
    font-size: large;
}

.fitPage{
	max-width: 700px;
	margin: auto;
	padding: 20px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration-line: underline;
}



@media (max-width: 700px) {
    .header {
		font-size: large;
	}
	
	.title {
		font-size: xx-large;
	}
}

ul.expandedList li {
	margin-bottom: 20px;
}

.hangingIndent {
	padding-left: 50px;
	text-indent: -50px;
}

.centerHold {
	position: relative;
}

.centerInfo {
	margin: 0;
	position: absolute;
	left: 50%;
	transform translate(0%, -50%);
}

